<h2>Favorite Gifs by Category</h2>

<% @favorites_by_category.each do |category_name, favorites| %>
	<div id="<%= category_name %>">
		<h2> <%= category_name %> </h2>

			<% favorites.each do |favorite| %>
				<br>
				<img src="<%= favorite.gif.image_url %>">

	      <%= link_to 'View Gif', gif_path(favorite.gif) %>
			<% end %>
	</div>
<% end %>
