<h1>Welcome to the Gifs Generator!</h1>

<h2>Gifs by Category</h2>


<% @categories.each do |category| %>
	<div id="<%= category.name %>">
		<h2> <%= category.name %> </h2>
		<% category.gifs.each do |gif| %>
			<br>
			<img src="<%= gif.image_url %>">
		<% end %>
	</div>
<% end %>
